<div mat-dialog-content class="filter-dialog-content">
  <h2 class="center-text">Filter</h2>

  <form class="center-text">
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <mat-select placeholder="Select destination" [(ngModel)]="filterDestination" name="destination" multiple>
        <mat-option *ngFor="let destination of destinations" [value]="destination">
          {{ destination }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Minimum Price</mat-label>
      <mat-select placeholder="Select minimum price" [(ngModel)]="filterMinPrice" name="minPrice">
        <mat-option *ngFor="let price of availablePrices" [value]="price">
          {{ price | currencyFormat: currencyCode }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Maximum Price</mat-label>
      <mat-select placeholder="Select maximum price" [(ngModel)]="filterMaxPrice" name="maxPrice">
        <mat-option *ngFor="let price of availablePrices" [value]="price">
          {{ price | currencyFormat: currencyCode }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Choose start date" [(ngModel)]="filterStartDate" name="startDate" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Choose end date" [(ngModel)]="filterEndDate" name="endDate" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <div class="button-group center-text">
      <button mat-button color="primary" (click)="applyFilters()">Apply Filters</button>
      <button mat-button color="warn" (click)="close()">Close</button>
    </div>
  </form>
</div>