<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4 text-center mb-4">Order History</h1>
      <div class="form-group text-center py-4">
        <div class="button-checkbox-group">
          <button class="btn btn-outline-secondary" [class.active]="filterArchive" (click)="filterArchiveChange()">
            Archive
          </button>
          <button class="btn btn-outline-secondary" [class.active]="filterOngoing" (click)="filterOngoingChange()">
            Ongoing
          </button>
          <button class="btn btn-outline-secondary" [class.active]="filterUpcoming" (click)="filterUpcomingChange()">
            Upcoming
          </button>
        </div>
      </div>
      <div *ngIf="orders && orders.length > 0; else emptyHistoryMessage">
        <div class="card-deck">
          <ng-container *ngFor="let trip of filteredTrips">
            <div *ngIf="getOrderCount(trip._id) > 0" class="card shadow mb-5 text-center">
              <div class="card-body">
                <h5 class="card-title">{{ trip.name }}</h5>
                <h6 class="card-text"><strong>Status: {{ getTripStatus(trip.startDate, trip.endDate)}} </strong></h6>
                <p class="card-text">{{ trip.startDate | date: 'dd/MM/yyyy' }}
                  - {{ trip.endDate | date: 'dd/MM/yyyy'}}</p>
                <p class="card-text">
                  <strong>Tickets count:</strong> {{ getOrderCount(trip._id) }}</p>
                <p class="card-text">
                  <strong>Price:</strong> {{ trip.unitPrice | currencyFormat: currencyCode }}</p>
                <p class="card-text">
                  <strong>Total:</strong> {{ getOrderCount(trip._id) * trip.unitPrice | currencyFormat: currencyCode }}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-template #emptyHistoryMessage>
        <p class="text-center"><strong>Order history is empty!</strong></p>
      </ng-template>
    </div>
  </div>
</div>
