<button class="left-arrow-button" [routerLink]="'/trips'">
    <i class="bi bi-arrow-left-circle-fill"></i>
</button>

<div class="container" *ngIf="trip">

<h1 class="text-center">Trip Details</h1>

<!-- Carousel -->
    <carousel [interval]="4000">
        <slide *ngFor="let image of carouselImages">
            <div style="position:relative">
            <img [src]="image" class="img-fluid" alt="Travel Image">
            <div class="carousel-caption d-none d-md-block">
                <p class="lead" style="font-size:30px; line-height:5px;">
                    {{ trip.name }}
                </p>
            </div>
            </div>
        </slide>
    </carousel>

<!-- Trip Details -->
    <div class="description">
        <div class="text-container">
            <h2>Destination: {{ trip.destination }}</h2>
            <p>{{ trip.description }}</p>
            <p><strong>Price:</strong> {{ trip.unitPrice | currencyFormat: currencyCode }}</p>
            <p class="card-text" [ngStyle]="{
                            color: trip.placesLeft > 3 && trip.placesLeft != 0 ? '' : '#FF0000',
                            }"><strong [ngStyle]="{
                                color: trip.placesLeft > 3 && trip.placesLeft != 0 ? '' : '#FF0000',
                                }">Places left:</strong> {{ trip.placesLeft }}</p>
            <div class="card-buttons">
                <button class="btn btn-dark" (click)="handlePlusClick(trip.id)"
                        [ngStyle]="{
                                    'opacity': getReservationCount(trip.id) >= trip.placesLeft ? '0' : ''
                                }"
                        [disabled]="getReservationCount(trip.id) >= trip.placesLeft">+
                </button>
                <span class="reservationCount">
                                <ng-container *ngIf="trip.placesLeft === 0; else reservationsCount">
                                </ng-container>
                                <ng-template #reservationsCount>
                                    {{ getReservationCount(trip.id) }}
                                </ng-template>
                            </span>
                <button class="btn btn-dark" (click)="handleMinusClick(trip.id)"
                        [ngStyle]="{
                                    'opacity': getReservationCount(trip.id) === 0 ? '0' : ''
                                }"
                        [disabled]="getReservationCount(trip.id) === 0">-
                </button>
            </div>
        </div>
        <div class="map-container" *ngIf="trip.mapSrc">
            <iframe [src]="trip.mapSrc | safe" width="500" height="300" style="border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <app-review [tripId]="trip.id"></app-review>
</div>
<app-footer></app-footer>
<div class="footer"></div>
