.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

.footer i {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #333333;
}

.basket-count {
  font-weight: bold;
  font-size: 40px;
  color: #333333;
}

.green-outline {
  text-shadow:
  -1px -1px 0 #31931b,
   1px -1px 0 #31931b,
  -1px  1px 0 #31931b,
   1px  1px 0 #31931b;
}

.red-outline {
  text-shadow:
  -1px -1px 0 #ff5555,
   1px -1px 0 #ff5555,
  -1px  1px 0 #ff5555,
   1px  1px 0 #ff5555;
}
