<div class="container">
    <div class="row d-flex">
        <div class="col-md-4"
             *ngFor="let trip of trips | tripFilter: appliedFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <div class="card-container" [ngStyle]="{
                    'border-color': trip.unitPrice === maxPrice ? '#D65C5C' : (trip.unitPrice === minPrice ? '#ABD194' : 'transparent')
                }">
                <div class="card-body">
                    <div class="remove-button-container">
                        <button class="remove-btn" aria-label="Close" (click)="handleRemoveClick(trip.id)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                        <img class="card-img-top" [routerLink]="'/trip/' + trip.id" [src]="trip.images[0]"
                             alt="{{ trip.name }} Image">
                        <h5 class="card-title">{{ trip.name }}</h5>
                        <p class="card-text">{{ trip.description }}</p>
                        <p class="card-text"><strong>Destination:</strong> {{ trip.destination.toUpperCase() }}</p>
                        <p class="card-text"><strong>Start Date:</strong> {{ trip.startDate | date: 'dd/MM/yyyy' }}</p>
                        <p class="card-text"><strong>End Date:</strong> {{ trip.endDate | date: 'dd/MM/yyyy' }}</p>
                        <p class="card-text"><strong>Price:</strong> {{ trip.unitPrice |
                            currencyFormat:currencyCode }}</p>
                        <p class="card-text" [ngStyle]="{
                            color: trip.placesLeft > 3 && trip.placesLeft != 0 ? '' : '#FF0000',
                            }"><strong [ngStyle]="{
                                color: trip.placesLeft > 3 && trip.placesLeft != 0 ? '' : '#FF0000',
                                }">Places left:</strong> {{ trip.placesLeft }}</p>
                        <div class="card-buttons">
                            <button class="btn btn-dark" (click)="handlePlusClick(trip.id)"
                                    [ngStyle]="{
                                    'opacity': getReservationCount(trip.id) >= trip.placesLeft ? '0' : ''
                                }"
                                    [disabled]="getReservationCount(trip.id) >= trip.placesLeft">+
                            </button>
                            <span class="reservationCount">
                                <ng-container *ngIf="trip.placesLeft === 0; else reservationsCount">
                                </ng-container>
                                <ng-template #reservationsCount>
                                    {{ getReservationCount(trip.id) }}
                                </ng-template>
                            </span>
                            <button class="btn btn-dark" (click)="handleMinusClick(trip.id)"
                                    [ngStyle]="{
                                    'opacity': getReservationCount(trip.id) === 0 ? '0' : ''
                                }"
                                    [disabled]="getReservationCount(trip.id) === 0">-
                            </button>
                        </div>
                        <div *ngIf="trip.placesLeft === 0" class="sold-out-overlay">
                            <h1>SOLD OUT</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <div class="items-per-page-container">
                <label for="itemsPerPage">Items Per Page:</label>
                <select id="itemsPerPage" [(ngModel)]="itemsPerPage">
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="15">15</option>
                </select>
            </div>
            <div class="pagination-controls">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
